body{
}


.navBarWrapper{
	
	background: #ffffff;
	height:100px;
	width:100%;
	border-width:2px;
	border-color:#cccccc;

	
	
}

#nameBlock{
	position:relative;
	background:#4aaaa5;
	color:white;
	border-color:#cccccc;
	text-align:center;
	padding:20px;
	width:33%;
	bottom:0;


}
#navLinks{
	color:grey;
	text-align:right;

}
footer{
	background:#666666;
	color:white;
	padding:20px;
	text-align:center;
}